<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <h1>404 - This page doesn't exist</h1>
    <p>Welcome To This Page</p>
    <%- include('./partials/footer.ejs') %>
</body>
</html>