<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <h1>This is the About page</h1>
    <p>Welcome To This Page</p>
    <%- include('./partials/footer.ejs') %>
</body>
</html>